.header,
.header-wrapper {
  width: 100%;
  z-index: 30;
  position: relative;
  background-size: cover;
  background-position: 50% 0;
  transition: background-color 0.3s, opacity 0.3s;
}

.header-wrapper {
  box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
}

.header-top {
  background-color: #b5e2ef;
  z-index: 11;
  position: relative;
  min-height: 40px;
}

.header-main {
  z-index: 10;
  position: relative;
  height: 75px;
}

.header-bottom {
  z-index: 9;
  position: relative;
  min-height: 35px;
}

.header-bottom {
  background-color: #ffffff;
}

.header-bottom {
  min-height: 50px;
}

.header-bottom .nav > li {
  margin: 0;
  padding: 0 20px;
}

.header-top,
.header-bottom {
  display: flex;
  align-items: center;
  flex-wrap: no-wrap;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.flex-row-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header .flex-row {
  height: 100%;
}

.flex-col {
  max-height: 100%;
}

.flex-grow {
  flex: 1;
}

.flex-center {
  margin: 0 auto;
}

.flex-left {
  margin-right: auto;
}

.flex-right {
  margin-left: auto;
}

.container {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.nav {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav > li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  margin: 0 7px;
  transition: background-color 0.3s;
}

.nav li:first-child {
  margin-left: 0 !important;
}

.nav li:last-child {
  margin-right: 0 !important;
}

a {
  color: #334862;
  text-decoration: none;
}

a:hover {
  color: #000;
}

.nav > li > a {
  font-weight: 700;
}

.nav-uppercase > li > a {
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: bolder;
}

.nav > li > a {
  padding: 10px 0;
  display: inline-block;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
}

.nav > li > a {
  font-size: 0.9em;
}

.nav-pills > li > a {
  padding: 0 0.75em;
  border-radius: 99px;
  line-height: 2.5em;
}

.nav-small .nav > li > a,
.nav.nav-small > li > a {
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: normal;
}

.nav-center {
  justify-content: center;
}

.nav-left {
  justify-content: flex-start;
}

.nav-right {
  justify-content: flex-end;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

#logo {
  width: 170px;
}

#logo img {
  max-height: 75px;
}

.logo a {
  text-decoration: none;
  display: block;
  color: #446084;
  font-size: 32px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0;
}

.logo img {
  display: block;
  width: auto;
}

.logo-left .logo {
  margin-left: 0;
  margin-right: 30px;
}

.logo-center .flex-left {
  order: 1;
  flex: 1 1 0;
}

.logo-center .logo {
  order: 2;
  text-align: center;
  margin: 0 30px;
}

.logo-center .logo img {
  margin: 0 auto;
}

.logo-center .flex-right {
  order: 3;
  flex: 1 1 0;
}

.nav > li.html {
  font-size: 0.85em;
}

.search-form {
  width: 60%;
}

.header-main .searchform-wrapper {
  border-bottom: 2px solid #3ac2cc;
}

.searchform-wrapper {
  width: 100%;
}

.header-main input.search-field.mb-0 {
  border: 0;
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 0%);
}
